@media (max-width: 1152px) {
    .about-images {
        grid-template-columns: repeat(2, 256px) !important;
    }
}

@media (max-width: 900px) {
    .me-content {
        flex-direction: column-reverse;
        align-items: center !important;
        text-align: center;
        gap: 2rem !important;
    }

    .me-intro {
        align-items: center;
    }

    .me-image {
        width: 200px !important;
        height: 200px !important;
    }

    .tech-categories {
        grid-template-columns: 1fr !important;
    }

    .project-listing {
        grid-template-columns: 1fr !important;
    }

    .project-listing-image {
        order: -1;

        img {
            border-radius: 12px 12px 0 0 !important;
        }
    }

    .footer-content {
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media (max-width: 640px) {
    #rt {
        padding-top: 140px !important;
    }

    header {
        box-shadow: 0;
    }

    .nav-menu {
        display: block !important;
        opacity: 1 !important;
        pointer-events: all !important;
    }

    .nav-links {
        opacity: 0 !important;
        pointer-events: none;

        position: absolute;
    }

    .nav-links.active {
        top: 0;
        left: 0;
        right: 0;

        opacity: 1 !important;
        pointer-events: all;
        
        background: var(--bg);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding: 1rem;
        box-shadow: 0 10px 10px var(--shadow-accent);
        margin-top: 5rem;
    }
}

@media (max-width: 600px) {
    .about-images {
        grid-template-columns: repeat(1, 256px) !important;
    }
}

@media (max-width: 420px) {
    .nav-resume-theme {
        display: none !important;
    }
}