---
import '../styles/global.css';
import '../styles/keyframes.css';
import '../styles/responsive.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/portfolio-website/favicon.ico" />
		<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ryan Tran</title>
	</head>
	<body>
		<header>
			<slot name="nav"/>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<slot name="footer"/>
		</footer>
	</body>
</html>

<style>
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		background: #fff;

		box-shadow: 0 10px 20px var(--shadow-accent);
	}

	main {
		max-width: var(--max-width);
		margin: auto;
	}

	footer {
		padding: 2rem 2rem 1rem 2rem;
		box-shadow: 0 -10px 20px var(--shadow-accent);
	}
</style>
