<div id="nav-menu" class="nav-menu">
    <i class="fa-solid fa-bars"></i>
</div>

<style>
    .nav-menu {
        display: none;
        opacity: 0;
        cursor: pointer;
        pointer-events: none;

        i {
            color: var(--secondary-colour);
            transition: 0.2s ease-in-out;
        }
    }

    .nav-menu.active i {
        color: var(--primary-colour);
    }
</style>

<script is:inline>
    const handleMenuClick = () => {
        document.getElementById("nav-menu").classList.toggle("active")
        document.getElementById("nav-links").classList.toggle("active")
    }

    document.getElementById("nav-menu").addEventListener("click", handleMenuClick)

    document.getElementById("nav-links").addEventListener("click", (e) => {
        if (e.target.tagName === "A") {
            document.getElementById("nav-menu").classList.toggle("active")
            document.getElementById("nav-links").classList.toggle("active")
        }
    })
</script>