---
import MenuToggle from "./MenuToggle.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<nav>
    <ul class="nav-logo">
        <a href="#rt">RT</a>
    </ul>

    <div class="nav-cluster">
        <ul id="nav-links" class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="/portfolio-website/ryan_tran_resume.pdf" download="ryan_tran_resume" class="btn btn-secondary"><i class="fa-regular fa-file-pdf"></i> Resume</a></li>
        </ul>
        <ThemeToggle />
        <MenuToggle />
    </div>
</nav>

<style>
    nav {
        max-width: var(--max-width);
        position: relative;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        gap: 2rem;

        padding: 1rem 2rem;
        margin: auto;
    }

    .nav-logo {
        a {
            color: var(--primary-accent);
            font-size: 2.48rem;
            font-weight: 800;
        }

        a:hover {
            color: var(--secondary-accent);
        }
    }

    .nav-cluster {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .nav-links {
        opacity: 1;

        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .nav-resume-theme {        
        opacity: 1;

        display: flex;
        align-items: center;
        gap: 2rem;
    }
</style>